[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://app.planejarpatrimonio.com.br/check-ciatos/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
